.title_wrap {
    position : relative;
    width : 80%;
    height : 100px;
    margin : 0 auto;
}

.input {
    padding-left : 1px;
    border-bottom : 1px solid gray;
    box-sizing : border-box;
    height : 25px;
    font-size : 15px;
}

.input.title {
    position : absolute;
    top : 20px;
    width : 100%;
}

.input.password {
    position : absolute;
    top : 65px;
}

.content_wrap {
    margin : 20px auto 0;
    width : 80%;
}

.ta_content { 
    border : 1px solid gray;
    width : 100%;
    box-sizing : border-box;
    min-height : 500px;
    resize : none;
    padding : 10px;
}

.btn {
    width : 70px;
    height : 40px;
    background-color : rgb(140, 140, 140);
    border : 1px solid gray;
    border-radius : 3px;
    color : white;
    cursor : pointer;
}

.cancle_btn {
    color : rgb(140, 140, 140);
    background : white;
}

.btnbox {
    width : 80%;
    margin : 10px auto 0;
}

.btnbox .right_box {
    float : right;
}

.btnbox::after {
    content : '';
    clear : both;
    display : block;
}